/* make scrolling smooth */

html {
    scroll-behavior: smooth;
}


/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navbar */

.navbar {
    background-color:#42414D;
    display: flex;
    flex-direction:column;
    margin-bottom: 1rem;
    
    

}



/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 10vw;
    width: 10vw;
}

.logo h1 {
    font-size: 1.2em;
}

/* navigation list */

.navbar-links li {
    list-style: none;
    display: block;
    padding: 0.5em 0;
    text-align: center;
}

/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a {
    color: #f5f5f5;
    background-color: #42414D;
    font-size: 1.5rem;
    padding: 0.75rem 1rem;
    letter-spacing: 1.5px;
    text-decoration: none;
    display: inline-block;
}

.navbar-links a:hover, 
.navbar-links a:focus {
    filter: invert(1);
    border-radius: 10px;
}

/* Hamburger Icon */

.hamburger {
    
    position: relative;
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    top: 4rem;
}

.hamburger:before, .hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #ffffff;
    border-radius: 10px;
}

.hamburger:before {
    top: -10px;
    width: 30px;
}

.hamburger:after {
    top: 10px;
    width: 30px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    
}

.hamburger, .toggle-menu {
     display: none;
}




/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media screen and (min-width: 60rem) {

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar ul {
        display: flex;
        justify-content: space-between;
    }

    .logo img {
        height: 4vw;
        width: 4vw;
    }

    .logo h2 {
        font-size: 1.5em;
    }
}

/* Hamburger Menu */

@media screen and (max-width: 60em) {
    .hamburger, .toggle-menu {
        display: block;
        position: absolute;
        top: 2rem;
        right: 1rem;
    }

    .toggle-menu {
        top: 0;
    }

    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 2rem;
        right: 0;
        background: #42414D;
        width: 250px;
        height: 100%;
        padding-top: 65px;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 300ms ease-in-out;
    }

    

    .navbar-links input:checked ~ .menu {
        right: 0;
        transform: scale(1, 1);
    }

    .menu li {
        width: 100%;
    }

    .menu li a {
        padding: 30px;
        margin-right: 2rem;

    }
}