body {
    font-family: "Josefin Sans";
    font-size:25pt;
    background-color: #2F6396;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Yeseva One";
    font-size: 30pt;
    text-align: center;
}

h1 {
    font-size: 40pt;
}

header {
    text-align: center;
}

#hero, footer {
    text-align: center;
    background-color: #1C9499;
    padding: 10px;
    
}

footer {
    font-size: 20pt;
}

#hero img {
    width:400px;
}

#bio {
    text-align: center;
}

#hobbies {
    border: 8px solid black;
    border-radius: 30px;
    background-color: #E3B432;
    text-align: center;
    padding:10px;
    margin:120px;
}





