body {
    font-family: "Josefin Sans";
    font-size:25pt;
    background-color: #2F6396;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Yeseva One";
    font-size: 30pt;
    text-align: center;
}

h1 {
    font-size: 40pt;
}

header {
    text-align: center;
}

#hero, footer {
    border: 6px solid black;
    text-align: center;
    background-color: #1C9499;
    padding: 10px;
    margin: 80px;
    
}

footer {
    font-size: 20pt;
}

/* Hero Section */

#hero img {
    width:400px;
}

/* Bio Section */

#bio {
    text-align: center;
}

/* Hobbies */

#hobbies {
    border: 8px solid black;
    border-radius: 30px;
    background-color: #E3B432;
    text-align: center;
    padding:10px;
    margin:140px;
}

/* Gallery */

#gallery {
    border: 30px double #1C9499;
    padding:10px;
    margin:60px;
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align: center;
}

/* Literature */

#lit {
    border: 30px double #1C9499;
    margin-bottom:2rem;
    margin:20px;
}

#lit div {
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear:both;
}

/* Dropcaps */

#lit div p:nth-child(6n+1):first-letter {
    color:red;
    float:left;
    font-size: 3em;
    padding:.25em;
    margin-right:.25em;
    line-height:.65;
}




